body {
  background-color: white;
  padding: 0;
  margin:0;

}

.container {
  padding: 0;
  width: 100%;
  background-color: white;
}

.row {
  padding: 0;
  margin:0;
}

.nav {
  max-width: 90%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  float: left;
  padding: 0;
  margin: 0;
}

.intro {
  font-size: 2em;
  text-align: center;
  background-color: white;
  padding: 0;
  max-width: 80%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

#signup {
  background-color: #FDC431;
  float:right;
  margin-top: 10px;
  border-radius: 6px;
}

#start-btn {
  background-color: #FDC431;
  font-size: 2.5em;
  margin-left: 350px;
  border-radius: 6px;
  margin-top: 1em;

}

.main-image {
  margin-top: 2em;
  width: 100%;
  text-align: center;
  background-color: #E3E4E4;
  padding: 0;
}

.btn {
  background-color: #333;
  color: white;
  margin-top: 1em;
  font-size: 1em;
}

.btn:hover {
  background-color: #E01A2B;
}

.feet img {
    width:40px;
    height: 50%;
}

h2 {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #E01A2B;
  border-radius: 6px;
}

.active {
  background-color: #E01A2B;
border-radius: 6px;
}
